<!--
This page contains thymeleaf fragments used by all pages in the application

References:
- http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-grid-system.php

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

<title>PCF Sample App</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<script src="/webjars/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<script src="/webjars/bootstrap/3.2.0/js/bootstrap.min.js"
	type="text/javascript"></script>

<script src="/webjars/morrisjs/0.5.1/morris.min.js"
	type="text/javascript"></script>
<script src="/webjars/raphaeljs/2.1.4/raphael-min.js"
	type="text/javascript"></script>

<link href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet"></link>
<link href="/webjars/morrisjs/0.5.1/morris.css" rel="stylesheet"></link>

<style>
.navbar.navbar-inverse.navbar-fixed-top {
	background-color: #3EB0FF;
}

.navbar-inverse .navbar-brand {
	color: #04050b;
}

.nav.navbar-nav li a {
	color: #04050b;
}

.dropdown-toggle {
	color: #04050b;
}

.table-fixed thead {
	width: 97%;
}

.table-fixed tbody {
	height: 160px;
	overflow-y: auto;
	width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td,
	.table-fixed th {
	display: block;
}

.table-fixed tbody td, .table-fixed thead>tr>th {
	float: left;
	border-bottom-width: 0;
}
</style>

</head>


<body>

	<!-- ++++++++++ -->
	<!-- Navigation -->
	<!-- ++++++++++ -->

	<nav th:fragment="navigation"
		class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./"><img
					src="/images/icon_gl.png"
					style="width: 40px; height: 40px; margin-top: -15px;" />&nbsp;<img
					src="/images/icon_cf_green.png"
					style="width: 40px; height: 40px; margin-top: -15px;" />&nbsp;
					GitLab Spring Boot Demo</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="basics">Scale &amp; HA</a></li>
					<li><a href="services">Services</a></li>
					<li><a href="bluegreen">Blue Green</a></li>

					<li class="dropdown"><a data-toggle="dropdown"
						class="dropdown-toggle" href="#">SpringBoot <b class="caret"></b></a>
						<ul role="menu" class="dropdown-menu">
							<li><a href="/actuator/info">Build Info</a></li>
							<li><a href="/actuator/env">Show Environment</a></li>
							<li><a href="/actuator/mappings">Mappings</a></li>
							<li><a href="/actuator/health">Health</a></li>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>


	<!-- ++++++++++++++++++++++ -->
	<!-- Tutorial & App Env Inf -->
	<!-- ++++++++++++++++++++++ -->
	<div class="row">
		<div th:fragment="tutorial" id="accordion" class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion"
							href="#collapseZero">Application Environment Information</a>
					</h4>
				</div>
				<div id="collapseZero" class="panel-collapse collapse in">
					<div class="panel-body">
						<p>
							<b>Application Name:</b>&nbsp;<span
								th:text="*{applicationName}?: 'running locally'"></span>
						</p>
						<p>
							<b>Instance Index:</b>&nbsp;<span id="instanceIndex"
								th:text="${instanceIndex}"></span>
						</p>
						<p>
							<b>Container Address:</b>&nbsp;<span id="containerAddr"
								th:text="${containerAddr}"></span>
						</p>
						<p>
							<b>Cell Address:</b>&nbsp;<span id="instanceAddress"
								th:text="${instanceAddr}"></span>
						</p>
						<p>
							<b>Java Version:</b>&nbsp;<span id="javaVersion"
								th:text="${javaVersion}"></span>
						</p>
						<hr></hr>
						<h4>Services</h4>
						<span th:if="${applicationServices.isEmpty()}">None</span>
						<p th:each="instance : ${applicationServices}">
							<b><span
								th:text="${#strings.substringBefore(instance.key,'~~~')}"></span></b>:&nbsp;<span
								th:text="${instance.value}"></span><br />
						</p>

						<div id="resultsBlock-health"></div>
						<div id="resultsBlock-info"></div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion"
							href="#collapseOne">1. Description</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse">
					<div id="description" class="panel-body">
						<p>DESCRIPTION NOT AVAILABLE</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion"
							href="#collapseTwo">2. Demonstrations</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div id="demonstration" class="panel-body">
						<p>DEMONSTRATION NOT AVAILABLE</p>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- ++++++ -->
	<!-- FOOTER -->
	<!-- ++++++ -->
	<footer th:fragment="footer" class="footer">
		<div class="container">
			<p class="text-muted">Provided to you by Pivotal!</p>
		</div>
	</footer>

	<!-- Scripts -->
	<script th:fragment="app-instance-script">
		$(function() {

			var url = '/tutorial';
			if ($('#tutorialName').text() !== undefined) {
				url = '/tutorial/' + $('#tutorialName').text();
			} else {
				url = '/tutorial/index';
			}

			$("#description").load(url + "-desc.html");
			$("#demonstration").load(url + "-demo.html");

			//$("#resultsBlock-health").load("/health");

			/**
			$.getJSON('/actuator/health', function(health) {
				$('#resultsBlock-health').html(
						'<p>The database is <b>' + health.db.database
								+ '</b></p>');
			});

			$.getJSON('/actuator/info', function(info) {
				$('#resultsBlock-info').html(
						'<p>The Artifact is <b>' + info.build.artifact
								+ '</b></p>');
				$('#resultsBlock-info').append(
						'<p>The Version is <b>' + info.build.version
								+ '</b></p>');
			});
			 */

		});
	</script>


</body>

</html>
